[submodule "icm-common"]
	path = icm-common
	url = umitgit@git.umitproject.org:/icm-common.git
[submodule "deps/umit-common"]
	path = deps/umit-common
	url = https://github.com/umitproject/umit-common.git
