*.pyc
*.pyo
geoip/GeoLiteCity*
.settings
.settings/*
.settings/org.eclipse.core.resources.prefs
*.pyc/djangologging/.svn/all-wcprops
/djangologging/*
/.idea/*
.gaedata/datastore
.gaedata/rdbms
.gaedata
.project
.pydevproject
geodata/allCountries.txt
geodata/allCountries.zip
geodata/cities1000.txt
geodata/cities1000.zip
_generated_media
_generated_media_names.py
*~
*.orig
*.swp
deps/*
!deps/README
!deps/__init__.py
