<link type="text/css" rel="stylesheet" href="/css/realtimebox.css" />

<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAAWajWEMOvdMUzDSviTnY9_BQCULP4XOMyhPd8d_NrQQEO8sT8XBSloh91HGZYV6pQ4yQ1gkhp8E4bJw"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/date.format.js"></script>

  <script type="text/javascript">

    function formatDate(dateStr)
    {
        date = new Date(dateStr);
        return date.format("dd/mm/yyyy HH:MM:ss");
    }

    function addEventToList(event, appear)
    {
        eventdiv = $( document.createElement('div') )
        content = "<a href='" + event.url + "'>" + event.targetType + " " + event.type + " " + event.target + "</a><br />First Detection: " + formatDate(event.firstdetection) + "<br />Last Detection: " + formatDate(event.lastdetection) + "<br />Location: ";
        for(i=0; i<event.locations.length; i++)
        {
            if(event.locations[i].city!="")
                content += event.locations[i].city + ", ";
            content += event.locations[i].country;
            if(i!=event.locations.length-1)
                content += "; ";
        }
        eventdiv.addClass("event").html(content)

        if(event.active)
            eventdiv.addClass("active")
        $("#realtime_content").prepend(eventdiv)

        if(appear)
        {
            eventdiv.hide()
            eventdiv.slideDown("slow")
        }

        // TODO: format information; show all information
    }

    onOpened = function() {
        $("#realtime_status").html("Waiting for new events")
    };

    onMessage = function(m) {
        event = JSON.parse(m.data)
        $("#realtime_status").html("New event")
        addEventToList(event, true)
    }

    onError = function() {
        $("#realtime_status").html("Error loading events")
    }

    openChannel = function() {
        var token = '{{ token }}';
        var channel = new goog.appengine.Channel(token);
        var handler = {
          'onopen': onOpened,
          'onmessage': onMessage,
          'onerror': onError,
          'onclose': function() {}
        };
        var socket = channel.open(handler);
        socket.onopen = onOpened;
        socket.onmessage = onMessage;
        socket.onerror = onError;
    }

    updateInitialEvents = function(m)
    {
        events = JSON.parse(m.data)
        for(var i=0; i<events.length; i++)
        {
            addEventToList(events[i], false)
        }
    }

    initialize = function() {
        openChannel();
        updateInitialEvents({data: '{{ initial_events|safe }}'});
    }

    setTimeout(initialize, 100);

</script>


<div id="realtime_status">
    Loading...
</div>
<div id="realtime_content">

</div>