<html>
    <head>
        <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    </head>
    <body>
        <script type="text/javascript">

            onOpened = function() {
                alert("opened");
                //sendMessage('/opened');
            };

            onMessage = function(m) {
                alert(m);
            }

            openChannel = function() {
                var token = 'map';
                var channel = new goog.appengine.Channel(token);
                var handler = {
                  'onopen': onOpened,
                  'onmessage': onMessage,
                  'onerror': function() {},
                  'onclose': function() {}
                };
                var socket = channel.open(handler);
                socket.onopen = onOpened;
                socket.onmessage = onMessage;
              }

            initialize = function() {
                openChannel();
            }

            setTimeout(initialize, 100);
            
        </script>
    </body>
</html>