{% extends "base.html" %}

{% block title %}OpenMonitor/Umit Manifesto{% endblock %}

{% block left %} {% endblock %}

{% block content %}

    <b>Attention: This is just a placeholder for the moment. The final version will replace this manifesto soon.</b>
    <p>We believe and support an Internet with free and open knowledge, available to all mankind and we do think censorship is potentially evil and that can damage the ultimate goals of humanity of evolving and perfecting by standing on each other’s shoulders. We do not encourage governments or entities to promote or make use of censorship in an attempt to control people, although we believe that there may be good uses for censorship while strictly used in an attempt to avoid illegal activities in an open, transparent and easily auditable way that could be verified by any internet citizen.</p>
    <p>We don’t support and we actively discourage people from using any of our softwares for monitoring or checking against sites that promotes or displays Porn, Immoral, Racist, Nazist, Terrorist or Illegal content of any kind. If you want to use our tools for doing some good to humanity, you’re welcome. If not, walk away now. We want to protect and promote openness not licentiousness.</p>
    <p>We adopted a crowd based system where internet citizens suggests us what we should monitor, and we actively check on the content of the services people suggests us to monitor before we actually monitor them. And this is in order to do our best to prevent sites that promotes or displays Porn, Immoral, Racist, Nazist, Terrorist or Illegal content of any kind from being monitored by our system. Users who consistently suggest this kind of website are going to be flagged and banned from our system. If you figure that any site we monitor fits in this category, please notify us and we’ll acknowledge and take it down immediately.</p>

{% endblock %}